<ion-card class="shows-list" (click)="showDetails(shows?.id)">
  <ion-card-content>
    <ion-row>
      <ion-col size="4">
        <ion-img [src]="baseUrl + shows?.thumbnail_image"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-text>
          <h4>{{shows?.title}}</h4>
        </ion-text>
        <ion-buttons class="play-btn">
          <ion-icon name="play-circle-outline"></ion-icon><ion-label>Play</ion-label>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>