ion-toolbar{
    ion-button{
        --background: transparent;
        --box-shadow: none;
        --border-radius: 30px;
        --padding-start: 7px;
        --padding-end: 7px;
    }
}

ion-title{
    padding-left: 16px;
}

ion-button + ion-button{
    margin-left: 5px;
}

.text-h4{
    font-size: 15px;
    font-weight: 500;
    color:#2d2d2d;
}

.text-h6{
    font-size: 12px;
}

.dot{
    width: 4px;
    height: 4px;
    display: inline-block;
    border-radius: 100%;
    background-color: #d3d3d3;
    margin: 0px 5px;
}

.news-content h4{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

.news-content h5{
    font-size: 16px;
    font-weight: 300;
    color: #2b2b2b;
    margin-bottom: 10px;
}

.news-content p{
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 24px;
    color: #6C6C6C;
}

.para-desc{
    font-size: 14px;
    color: #8a8a8a;
    line-height: 24px;
}

.comment-card{
    border-radius: 10px;
    box-shadow: 0px 3px 8px #ebebeb1f;
}

.news-img{
    width: 100%;
}

.add-comment-box{
    position: relative;
    margin-top: 10px;
    ion-avatar{
        width: 35px;
        height: 35px;
        border-radius: 100%;
        object-fit: cover;
        object-position: 50% top;
        position: absolute;
        left: 5px;
        top: 7px;
        z-index: 9;
    }
    .form-field{
        --border-radius: 12px;
        --padding-start: 45px;
        --padding-end: 45px;
        --padding-top:10px;
        min-height: 46px;
    }
    ion-button{
        --background: #3F3F97;
        --box-shadow: none;
        --padding-start: 8px;
        --padding-end: 8px;
        --border-radius: 100%;
    }
}

.editcomment{
    --padding-top:10px;
}

.comments-avatar-img{
    width:42px;
    height: 42px;
}

.comment-card-content{
    padding: 10px;
}

.send-btn{
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: 9;
    margin: 0;
}

.edit-form-field{
    --padding-top:10px;
}

.comments-box{
    h4{
        padding-bottom: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #334155;
        border-bottom: 1px solid #EBEBEB;
        display: flex;
        align-items: center;
        ion-icon{
            margin-right: 10px;
        }
    }
    h5{
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        color: #334155;
        .dot{
            display: inline-block;
            height: 4px;
            width: 4px;
            border-radius: 100%;
            background-color: #cdcdcd;
        }
        span{
            font-size: 12px;
            font-weight: 300;
            color: #838383;
        }
    }
    ion-buttons{
        font-weight: 400;
        font-size: 13px;
        margin-top: 5px;
        display: inline-block;
        margin-right: 10px;
        &.reply{
            color: #3F3F97;
        }
        &.edit{
            color: #444;
        }
        &.delete{
            color: red;
        }
    }
    p{
        font-size: 13px;
    }
}

.action-btn{
    position: absolute;
    top: 0px;
    right: 5px;
    --background: transparent;
    --box-shadow: none;
    color: #616161;
    margin: 0;
}

.commet-btn{
    --border-radius: 12px;
    --padding-start: 45px;
    --padding-end: 45px;
    min-height: 46px;
    --box-shadow: none;
    --background: #cacaca44;
    border: 1px solid #e0e0e0;
    color: #444;
}

.comments-avatar-sm-img{
    width:30px;
    height: 30px;
}

ion-item{
    --inner-border-width:0;
    ion-icon{
        margin-right:10px;
    }
}

.news-details-img-skel{
    height:180px;
}

.news-avatar-img-skel{
    width:30px;
    height: 30px;
    border-radius: 100%;
}

.news-author-name-skel{
    height: 24px;
}

.news-text-skel{
    height: 18px;
}

.news-text-sm-skel{
    height: 16px;
}

.news-desc-skel{
    height: 14px;
}