<ion-header [translucent]="true" class="inner-page-header">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <div slot="end">
      <ion-button (click)="newsSave(newsDetails?.id)"><ion-icon name="bookmark" *ngIf="newsDetails?.bookmark == 1"></ion-icon> <ion-icon *ngIf="newsDetails?.bookmark == 0" name="bookmark-outline"></ion-icon> {{newsDetails?.total_bookmarks || '0'}}</ion-button>
      <ion-button (click)="newsLike(newsDetails?.id)"><ion-icon color="danger" *ngIf="newsDetails?.likes == 1" name="heart"></ion-icon> <ion-icon *ngIf="newsDetails?.likes == 0" name="heart-outline"></ion-icon> {{newsDetails?.total_likes || '0'}}</ion-button>
      <ion-button (click)="shareNews(newsDetails)"><ion-icon name="share-social-outline"></ion-icon> {{newsDetails?.total_shares || '0'}}</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">article-details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="!loader">
    <div class="aritcle-img">
      <ion-badge class="news-tag" *ngIf="newsDetails?.subcategory">{{newsDetails?.subcategory}}</ion-badge>
      <ion-label class="views-span"><ion-icon name="eye-outline"></ion-icon> {{newsDetails?.total_views || '0'}}</ion-label>
      <ng-container *ngIf="newsDetails?.contents_type == 'text' || newsDetails?.contents_type == 'audio'">
        <ion-img class="news-img" [src]="newsDetails?.base_url + newsDetails?.cover_image" alt=""></ion-img>
        <ion-grid *ngIf="newsDetails?.contents_type == 'audio'">
          <audio controls class="news-img">
            <source [src]="newsDetails?.base_url + newsDetails?.contents" type="audio/mp3">
            Your browser does not support the audio tag.
          </audio>
        </ion-grid>
      </ng-container>
      <ng-container *ngIf="newsDetails?.contents_type != 'text' &&  newsDetails?.contents_type != 'audio'">
        <ng-container *ngIf="newsDetails?.contents_type == 'image'">
          <ion-img class="news-img" [src]="newsDetails?.base_url + newsDetails?.contents" alt=""></ion-img>
        </ng-container>
        <ng-container *ngIf="newsDetails?.contents_type == 'video'">
          <video class="news-img" controls>
            <source  [src]="newsDetails?.base_url + newsDetails?.contents" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </ng-container>
        <ng-container *ngIf="newsDetails?.contents_type == 'youtube'">
          <iframe width="100%" height="220" [src]="newsDetails?.contents" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </ng-container>
      </ng-container>
    </div>
    <ion-row class="ion-align-items-center" (click)="gotoAuthorDetails(newsDetails?.author_id)">
      <ion-col size="1.5">
        <ion-avatar class="author-avatar-img">
          <img
            [src]="newsDetails?.base_url + newsDetails?.profile_image"
            alt=""
            onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'"
          />
        </ion-avatar>
      </ion-col>
      <ion-col size="10.5">
        <ion-row class="ion-align-items-center">
          <ion-text class="text-h4">{{newsDetails?.first_name}} {{newsDetails?.last_name}}</ion-text> <span class="dot"></span> <ion-text class="text-h6">{{newsDetails?.updated_at | date }}</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-grid class="news-content">
      <h4>{{newsDetails?.title}}</h4>
      <h5>{{newsDetails?.sub_title}}</h5>
      <ng-container *ngIf="newsDetails?.contents_type == 'text'">
        <div class="para-desc" [innerHtml]="newsDetails?.contents"></div>
      </ng-container>
      <ng-container *ngIf="newsDetails?.description">
        <div class="para-desc" [innerHtml]="newsDetails?.description"></div>
      </ng-container>
    </ion-grid>
    <ion-card class="comment-card">
      <ion-card-content class="comment-card-content">
          <div class="comments-box">
            <h4><ion-icon name="chatbubble-ellipses-outline"></ion-icon>{{newsDetails?.total_comments || '0'}} Comments</h4>
            <ng-container *ngFor="let comments of commentList">
              <ion-row class="user-comments-box">
                <ion-col size="2">
                  <ion-avatar class="comments-avatar-img">
                    <img [src]="comments?.base_url + comments?.profile_image" onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'" alt="">
                  </ion-avatar>
                </ion-col>
                <ion-col size="10">
                  <h5>{{comments?.first_name || '--'}} {{comments?.last_name || '--'}} <span class="dot"></span> <span class="text-h6">{{comments?.created_at | date}}</span> </h5>
                  <p>{{comments?.comment}}</p>
                  <ion-row>
                    <ion-buttons class="reply" *ngIf="comments?.user_id != userDetails?.user_id && !userInfoIncomplete" (click)="openEditComment(true, comments, 'Reply')">Reply</ion-buttons>
                    <ion-buttons class="edit" *ngIf="comments?.user_id == userDetails?.user_id" (click)="openEditComment(true,comments, 'Edit')">Edit</ion-buttons>
                    <ion-buttons class="delete" *ngIf="comments?.user_id == userDetails?.user_id" (click)="deleteComment(comments?.id)">Delete</ion-buttons>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row class="ion-justify-content-end" *ngIf="comments?.replies?.length > 0">
                <ion-col size="10">
                  <ng-container *ngFor="let reply of comments?.replies">
                    <ion-row class="user-comments-box">
                      <ion-col size="2">
                        <ion-avatar class="comments-avatar-sm-img">
                          <img [src]="reply?.base_url + reply?.profile_image" onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'" alt="">
                        </ion-avatar>
                      </ion-col>
                      <ion-col size="10">
                        <h5>{{reply?.first_name || '--'}} {{reply?.last_name || '--'}} <span class="dot"></span> <span class="text-h6">{{reply?.created_at | date}}</span> </h5>
                        <p>{{reply?.comment}}</p>
                        <ion-row>
                          <ion-buttons class="edit" *ngIf="reply?.user_id == userDetails?.user_id" (click)="openEditComment(true,reply, 'Edit')">Edit</ion-buttons>
                          <ion-buttons class="delete" *ngIf="reply?.user_id == userDetails?.user_id" (click)="deleteComment(reply?.id)">Delete</ion-buttons>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ng-container>
                </ion-col>
              </ion-row>
            </ng-container>
          </div>
          <div class="add-comment-box">
            <form action="">
              <ion-avatar>
                <img [src]="userDetails?.base_url + userDetails?.profile_image" onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'" alt="">
              </ion-avatar>
              <ion-textarea #hvUserPost type="text" placeholder="Add Your Comment" class="form-field" fill="outline" autoGrow="true" [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" (input)="adjustDesc()"></ion-textarea>
              <ion-button class="send-btn" [disabled]="!this.comment" (click)="addComment()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
            </form>
          </div>
          <!-- <ng-container *ngIf="userInfoIncomplete">
            <ion-button expand="full"  class="commet-btn" (click)="redirectToProfile()">Add Your Comment</ion-button>
          </ng-container> -->
      </ion-card-content>
    </ion-card>
    <ng-container *ngIf="relatedArticles && relatedArticles?.length > 0">
      <ion-grid class="section-header">
        <h4>You may also like</h4>
      </ion-grid>
      <ng-container *ngFor="let news of relatedArticles">
        <app-news-list-box [news]="news" [baseUrl]="news.base_url"></app-news-list-box>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="loader">
    <ion-grid>
      <ion-skeleton-text class="news-details-img-skel" [animated]="true"></ion-skeleton-text>
    </ion-grid>
    <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-skeleton-text class="news-avatar-img-skel" [animated]="true"></ion-skeleton-text>
        </ion-col>
        <ion-col size="10">
          <ion-skeleton-text class="news-author-name-skel" style="width:80%" [animated]="true"></ion-skeleton-text>
        </ion-col>
    </ion-row>
    <ion-grid>
      <ion-skeleton-text class="news-text-skel" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="news-text-skel" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="news-text-skel" style="width:80%" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="news-text-sm-skel" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="news-text-sm-skell" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="news-text-sm-skel" style="width:80%" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="news-desc-skel" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="news-desc-skel" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="news-desc-skel" style="width:60%" [animated]="true"></ion-skeleton-text>
    </ion-grid>
  </ng-container>
 
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header  class="inner-page-header">
        <ion-toolbar>
          <ion-title>{{modalTitle}} Comment</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="openEditComment(false, '')">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-textarea type="text" placeholder="Add Your Comment" class="edit-form-field" fill="outline" autoGrow="true" [(ngModel)]="editcomment" [ngModelOptions]="{standalone: true}"></ion-textarea>
      </ion-content>
      <ion-footer class="ion-padding ion-text-center">
        <ion-button class="main-btn" (click)="submitEditComment()" *ngIf="modalTitle == 'Edit'">Save</ion-button>
        <ion-button class="main-btn" (click)="submitReplyComment()" *ngIf="modalTitle == 'Reply'">Reply</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>