<ion-header [translucent]="true" class="inner-page-header">
  <ion-toolbar>
    <ion-title>Terms of Use</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">terms-of-use</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="!loading">
    <ion-card class="about-card" *ngIf="pageContent">
      <ion-card-content class="about-card-content">
        <div [innerHtml]="pageContent.description"></div>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ion-card class="about-card" *ngIf="loading">
    <ion-card-content>
      <ion-skeleton-text class="cms-heading-skel" style="width:60%" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="cms-para-skel" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="cms-para-skel" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="cms-para-skel" [animated]="true"></ion-skeleton-text>
      <ion-skeleton-text class="cms-para-skel" [animated]="true"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ion-content>
