ion-button{
    --background: #F4F4F6;
    --box-shadow: none;
    color: #334155;
    --border-radius: 30px;
    font-size: 12px;
    height: 30px;
    ion-icon{
        margin-right: 5px;
        color: #334155;
        width: 18px;
    }
}