ion-button{
    --background: #F4F4F6;
    --box-shadow: none;
    --border-radius: 30px;
    --padding-start: 6px;
    --padding-end: 6px;
    height: 30px;
    ion-icon{
        color: #334155;
        width: 18px;
    }
}