.icon-btns{
    width: 36px;
    height: 36px;
    --background: transparent;
    --box-shadow: none;
    --padding-start: 5px;
    --padding-end: 5px;
    --border-radius: 100%;
}

ion-toolbar{
    --background: #3f3f97;
    --min-height: 40px;
}

ion-menu-button{
    --color:#fff;
}

ion-segment{
    background-color: #7777f3;
    border-top: 1px solid #fff;
    ion-segment-button{
        min-width: auto;
        min-height: auto;
        font-size: 13px;
        font-weight: 300;
        text-transform: capitalize;
        color: #e4e4ff;
        --padding-end: 10px;
        --padding-start: 10px;
        &.segment-button-checked{
            color:#fff;
            --color-checked:#fff;
        }
        ion-label{
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }
}

ion-menu-button{
    height: 40px;
    width: 40px;
}

.header-logo {
    padding: 4px 8px 0px;
}

.header-logo img{
    height: 36px;
}