.icon-btns{
    width: 36px;
    height: 36px;
    --background: transparent;
    --box-shadow: none;
    --padding-start: 5px;
    --padding-end: 5px;
    --border-radius: 100%;
    ion-icon{
        color:#0322d4;
    }
}

.live-btn{
    --background: transparent;
    --box-shadow: none;
    --color:#0322d4;
    border-radius: 6px;
    --padding:0;
    ion-icon{
        // animation: blink 1s infinite;
        // color: #ef0000;
        // margin-left: 4px;
        font-size: 28px;
    }
}

ion-toolbar{
    --background: #ffffff;
    --min-height: 40px;
}

ion-menu-button{
    --color: #0322d4;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.tab-butoton-skel{
    height:30px;
}

ion-segment{
    background-color: #3950d4;
    border-top: 1px solid #fff;
    ion-segment-button{
        min-width: auto;
        min-height: auto;
        font-size: 13px;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0.06em;
        color: #ffffff;
        --padding-end: 10px;
        --padding-start: 10px;
        &.segment-button-checked{
            color:#fff;
            --color-checked:#fff;
        }
        ion-label{
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }
}


ion-menu-button{
    height: 40px;
    width: 40px;
}

.header-logo {
    padding: 4px 8px 0px;
}

.header-logo img{
    height: 36px;
}