<ion-card class="stories-box">
  <ion-badge class="news-tag">{{story?.category}}</ion-badge>
  <ion-buttons class="play-btn" (click)="showStories(story?.id)">
    <ion-img
      src="./assets/img/video-icon.svg"
      alt=""
    ></ion-img>
  </ion-buttons>
    <ion-img class="news-img"
    [src]="story?.base_url + story?.cover_image"
    alt=""
  ></ion-img>
  <ion-card-content class="stories-box-content">
    <h4>{{story?.title}}</h4>
    <ion-row class="ion-align-items-center">
      <ion-text class="text-h4">{{story?.first_name || '--'}} {{story?.last_name || '--'}} </ion-text> <span class="dot"></span> <ion-text class="text-h6">{{story?.updated_at | date}}</ion-text>
    </ion-row>
  </ion-card-content>
</ion-card>