<ion-card class="stories-box" *ngIf="story">
  <ion-badge class="news-tag">{{story?.category}}</ion-badge>
  <ng-container *ngIf="storyPage">
    <ion-label class="views-span"><ion-icon name="eye-outline"></ion-icon> {{story?.total_views || '0'}}</ion-label>
    <ion-label class="like-span" (click)="storyLike(story?.id)"><ion-icon color="danger" *ngIf="liked" name="heart"></ion-icon> <ion-icon *ngIf="!liked" name="heart-outline"></ion-icon> {{story?.total_likes || '0'}}</ion-label>
    <ion-label class="share-span" (click)="shareStory(story?.id)"><ion-icon name="share-social-outline"></ion-icon>   {{story?.total_shares || '0'}}</ion-label>
  </ng-container>
  <ion-buttons class="play-btn" (click)="showStories(story?.id)">
    <ion-img
      src="./assets/img/video-icon.svg"
      alt=""
    ></ion-img>
  </ion-buttons>
    <ion-img class="news-img"
    [src]="story?.base_url + story?.cover_image"
    alt=""
  ></ion-img>
  <ion-card-content class="stories-box-content">
    <h4>{{story?.title}}</h4>
    <ion-row class="ion-align-items-center">
      <ion-text class="text-h4">{{story?.first_name || '--'}} {{story?.last_name || '--'}} </ion-text> <span class="dot"></span> <ion-text class="text-h6">{{story?.updated_at | date}}</ion-text>
    </ion-row>
  </ion-card-content>
</ion-card>