.stories-box{
    box-shadow: none;
    padding: 0;
    border-radius: 10px;
    margin:1px 0px;
    overflow: hidden;
    position: relative;
}

.stories-box::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(180deg, rgba(255,255,255,0) 49%, rgba(19,19,19,0.7483368347338936) 100%);
    z-index: 1;
}


.news-tag{
    padding: 5px 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    --background: #D0D2FB;
    font-size: 12px;
    font-weight: 400;
    border-radius: 20px;
    color: #3F3F97;
}

.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-btn ion-img{
    width: 30px;
}

.news-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
}

.stories-box-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 6px;
    z-index: 2;
}

.stories-box-content h4{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.stories-box-content .text-h4{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.text-h6{
    font-size: 11px;
    color: #fff;
}

.dot{
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 100%;
    margin: 0px 4px;
}

.views-span{
    position: absolute;
    right: 3px;
    top: 5px;
    padding: 1px 4px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    border-radius: 6px;
    font-size: 10px;
    z-index: 3;
    ion-icon{
        font-size: 14px;
        margin-right: 5px;
    }
}