<ion-card class="stories-box">
  <ion-badge class="news-tag">Lifestyle</ion-badge>
  <a href="#" class="play-btn">
    <ion-img
      src="./assets/img/video-icon.svg"
      alt=""
    ></ion-img>
  </a>
    <ion-img class="news-img"
    src="./assets/img/stories.png"
    alt=""
  ></ion-img>
  <ion-card-content class="stories-box-content">
    <h4>Microsoft announces a five-year commitment</h4>
    <ion-row class="ion-align-items-center">
      <ion-text class="text-h4">Falconar Agnes </ion-text> <span class="dot"></span> <ion-text class="text-h6">May 20, 2021</ion-text>
    </ion-row>
  </ion-card-content>
</ion-card>