<ion-card class="news-card">
  <ion-grid class="news-card-img" (click)="gotoDetails(news?.id)">
    <ion-img class="news-img" [src]="news?.base_url + news?.cover_image" alt=""></ion-img>
    <ion-badge class="news-tag">{{news?.category_name || news?.category || '--'}}</ion-badge>
    <ion-img *ngIf="news?.contents_type == 'video' || news?.contents_type == 'youtube'" class="news-type-tag"
      src="./assets/img/video-icon.svg"
      alt=""
    ></ion-img>
    <ion-img *ngIf="news?.contents_type == 'audio'" class="news-type-tag"
      src="./assets/img/listen-icon.svg"
      alt=""
    ></ion-img>
    <ion-img *ngIf="news?.contents_type == 'text'" class="news-type-tag"
      src="./assets/img/read-icon.svg"
      alt=""
    ></ion-img>
  </ion-grid>
  <ion-grid class="news-card-content">
    <ion-row class="ion-align-items-center">
      <ion-col size="1.5">
        <ion-avatar class="author-avatar-img">
          <img [src]="news?.base_url + news?.profile_image" alt="" onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'" />
        </ion-avatar>
      </ion-col>
      <ion-col size="10.5">
        <ion-row class="ion-align-items-center">
          <ion-text class="text-h4">{{news?.first_name || '--'}} {{news?.last_name || '--'}} </ion-text> <span class="dot"></span> <ion-text class="text-h6">{{news?.updated_at | date }}</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-grid class="news-content" (click)="gotoDetails(news?.id)">
      <h4>{{news?.title}}</h4>
      <p>{{news?.sub_title}}</p>
    </ion-grid>
    <ion-grid class="news-action-btn">
      <ion-row>
        <ion-col size="8" class="ion-no-padding">
          <ion-row>
            <app-like-btn [newsDetails]="news"></app-like-btn>
            <app-comment-btn></app-comment-btn>
          </ion-row>
        </ion-col>
        <ion-col size="4" class="ion-text-end ion-no-padding">
          <app-save-btn [newsDetails]="news"></app-save-btn>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-card>
