.profile-img{
    width: 80px;
    height: 80px;
    margin: 0px auto 20px;
    position: relative;
}

.profile-img img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
    object-position: 50% top;
}

.main-btn{
    margin-bottom: 10px;
}

.profile-info{
    h4{
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }
}

.delete-my-account{
    border-radius: 15px;
    box-shadow: 0px 3px 8px #ebebeb1f;
}