.section-header{
    padding: 0px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
        font-size: 16px;
        font-weight: 600;
        color: #111827;
        padding-bottom: 5px;
        position: relative;
        margin-bottom: 0;
        &::before{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 36px;
            content: '';
            height: 2px;
            background-color: #FF6501;
        }
    }
}

.trending-topic-sec{
    background-color: #fff;
    padding: 0;
    padding-top: 10px;
}

.home-carousel, .trending-carousel{
    padding-bottom: 15px;
}

.trending-carousel{
    margin:0px 10px;
}

.view-all-btn{
    font-size: 12px;
    font-weight: 400;
    padding: 6px 10px;
    background-color: #fff;
    border-radius: 25px;
}

.entertainment-sec{
    background-color: #131540;
    padding: 0;
    padding-top: 10px;
}

.entertainment-sec .section-header h4{
    color: #fff;
}

.news-list{
    padding: 10px 0px;
}

.raffle-banner{
    width: 100%;
}

.raffle-banner ion-img{
    width:100%;
    box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 5px 15px;
}

.raffle-banner ion-img img{
    width: 100%;
}