.trending-topic-sec{
    background-color: #fff;
    padding: 0;
    padding-top: 10px;
    margin-bottom: 10px;
}

.trending-carousel{
    margin:0px 10px;
    padding-bottom: 10px;
}

.view-all-btn{
    font-size: 12px;
    font-weight: 400;
    padding: 6px 10px;
    background-color: #fff;
    border-radius: 25px;
}

.entertainment-sec{
    background-color: #131540;
    padding: 0;
    padding-top: 10px;
}

.entertainment-sec .section-header h4{
    color: #fff;
}

.news-list{
    padding: 10px 0px;
}

.raffle-banner{
    width: 100%;
}

.raffle-banner ion-img{
    width:100%;
    box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 5px 15px;
}

.raffle-banner ion-img img{
    width: 100%;
}

.skeleton-card{
    border: 1px solid #EBEBEB;
    background-color: #fff;
    box-shadow: none;
    padding: 0;
    border-radius: 10px;
    .news-box-img-skel{
        height: 180px;
    }
    .news-box-avatar-skel{
        width: 30px;
        height:30px;
        border-radius: 100%;
    }
    .news-author-name-skel{
        height: 20px;
    }
    .news-title-skel{
        height: 24px;
    }
    .news-sub-title-skel{
        height: 18px;
    }
    .news-button-skel{
        height: 30px;
        border-radius: 25px;
    }
    .skel-list-thumb-img{
        height: 140px;
        border-radius: 6px;
    }
    .skel-bandage{
        height:30px;
        border-radius: 25px;
    }
}

.category-title{
    height:20px
}

.category-skel{
    .category-img-skel{
        height: 100px;
        border-radius: 10px;
    }
    .category-button-skel{
        width: 24px;
        height:24px;
        border-radius: 100%;
    }
    .category-text-md-skel{
        height: 18px;
    }
}

.skel-stroy{
    height: 200px;
    border-radius: 10px;
}

.no-internet{
    min-height: calc(100vh - 155px);
    box-shadow: 0px 0px 10px #00000014;
    display: flex;
    align-items: center;
    ion-img{
        width: 160px;
        margin: 0px auto;
    }
    h4{
        font-size: 20px;
        font-weight: 700;
        color: #000;
        margin-bottom: 15px;
    }
}