.hastag-box{
    border-radius: 10px;
    padding: 10px 0px;
    box-shadow: none;
    border: 1px solid #EBEBEB;
}

.section-header{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
        font-size: 14px;
        font-weight: 600;
        color: #111827;
        padding-bottom: 5px;
        position: relative;
        margin-bottom: 0;
        &::before{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 36px;
            content: '';
            height: 2px;
            background-color: #FF6501;
        }
    }
}

ion-item{
    font-size: 14px;
    --inner-border-width:0;
    --padding-start:10px;
    --inner-padding-end:10px;
}

.view-all-btn{
    font-size: 12px;
    font-weight: 400;
    padding: 6px 10px;
    background-color: #eef;
    border-radius: 25px;
}

.hastag-list-skel{
    height:24px;
}

.news-button-skel{
    height: 30px;
}

.btn-outline{
    box-shadow: none;
    border: 1px solid #3F3F97;
    --background: transparent;
    color: #3F3F97;
    border-radius: 5px;
    text-transform: capitalize;
    --padding-start:15px;
    --padding-end:15px;
}

.main-btn{
    font-size: 13px;
}

