<app-header></app-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button  routerLink="all" routerLinkActive="tab-selected">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button routerLink="articles/0/text" routerLinkActive="tab-selected">
      <ion-icon name="book-outline"></ion-icon>
      Read
    </ion-tab-button>
    <ion-tab-button routerLink="articles/0/video" routerLinkActive="tab-selected">
      <ion-icon name="play-circle-outline"></ion-icon>
      Videos
    </ion-tab-button>
    <ion-tab-button routerLink="articles/0/audio" routerLinkActive="tab-selected">
      <ion-icon name="musical-notes-outline"></ion-icon>
      Listen
    </ion-tab-button>
    <ion-tab-button routerLink="shorts" routerLinkActive="tab-selected">
      <ion-icon class="short-icon-01" src="../../../assets/img/shorts-icon/img-01.svg"></ion-icon>
      <ion-icon class="short-icon-02" src="../../../assets/img/shorts-icon/img-02.svg"></ion-icon>
      Shorts
    </ion-tab-button>
    <ion-tab-button routerLink="explore" routerLinkActive="tab-selected">
      <ion-icon name="grid"></ion-icon>
      Explore
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

