<app-header></app-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button  routerLink="all" routerLinkActive="tab-selected">
      <ion-icon name="home-outline"></ion-icon>
      All
    </ion-tab-button>
    <ion-tab-button routerLink="articles/read" routerLinkActive="tab-selected">
      <ion-icon name="book-outline"></ion-icon>
      Read
    </ion-tab-button>
    <ion-tab-button routerLink="articles/shows" routerLinkActive="tab-selected">
      <ion-icon name="play-circle-outline"></ion-icon>
      Shows
    </ion-tab-button>
    <ion-tab-button routerLink="articles/listen" routerLinkActive="tab-selected">
      <ion-icon name="musical-notes-outline"></ion-icon>
      Listen
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

