<ion-content [fullscreen]="true" class="header-padding-top">
  <ion-segment class="sub-category-menu" [scrollable]="true" value="latest" [(ngModel)]="selectedCategoryTab">
    <ion-segment-button value="latest">
      <ion-label>Latest</ion-label>
    </ion-segment-button>
    <ion-segment-button value="social">
      <ion-label>Social Media</ion-label>
    </ion-segment-button>
    <ion-segment-button value="top">
      <ion-label>Top News</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="selectedCategoryTab == 'latest'">
    <app-news-box></app-news-box>
    <app-news-box></app-news-box>
    <app-news-box></app-news-box>
  </ng-container>
  <ng-container *ngIf="selectedCategoryTab == 'social'">
    <app-news-box></app-news-box>
    <app-news-box></app-news-box>
    <app-news-box></app-news-box>
  </ng-container>
  <ng-container *ngIf="selectedCategoryTab == 'top'">
    <app-news-box></app-news-box>
    <app-news-box></app-news-box>
    <app-news-box></app-news-box>
  </ng-container>
</ion-content>
