.contact-card{
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #EBEBEB;
}

ion-list{
    padding: 0;
    margin-bottom: 20px;
}

ion-item{
    font-size: 14px;
    --inner-border-width:0;
    --padding-start:0px;
    --inner-padding-end:0px;
    ion-label{
        font-size: 14px;
        color: #334155;
        font-weight:500;
    }
}

.list-icon{
    width: 35px;
    height: 35px;
    border: 1px solid #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: #3F3F97;
    ion-icon{
        font-size: 20px;
    }
}

.contact-card-content{
    padding: 10px;
}

.form-field{
    min-height: 46px;
}

.mb-4{
    margin-bottom: 20px;
    ion-label{
        font-size: 12px;
    }
}

ion-textarea.form-field{
    min-height: auto;
}

.mobile-code-field{
    min-height: 46px;
}

.follow-us-content a{
    display: inline-block;
    ion-img{
        width: 25px;
    }
}

.follow-us-content a + a{
    margin-left: 10px;
}

.contact-card-content{
    h4{
        font-size: 16px;
        font-weight: 600;
        color: #111827;
        padding-bottom: 5px;
        position: relative;
        margin-bottom: 10px;
        &::before{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 36px;
            content: '';
            height: 2px;
            background-color: #FF6501;
        }
    }
}

.map-img{
    padding: 0;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 7px #0a0a0a2e;
    padding: 0;
}

ion-item h5{
    font-size: 16px;
    font-weight: 500;
    color: #374558;
}