<ion-header [translucent]="true"  class="inner-page-header">
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contact-us</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="map-img">
    <ion-img src="./assets/img/map-img.png"></ion-img>
  </ion-grid>
  <ion-card class="contact-card" *ngIf="contactDetails">
    <ion-card-content class="contact-card-content">
      <h4>Contact Us</h4>
      <ion-list>
        <ion-item >
          <div class="list-icon">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <ion-label>{{contactDetails?.company_email}}</ion-label>
        </ion-item>
        <ion-item >
          <div class="list-icon">
            <ion-icon name="call-outline"></ion-icon>
          </div>
          <ion-label>{{contactDetails?.phone_code}} {{contactDetails?.company_contact}}</ion-label>
        </ion-item>
        <ion-item >
          <div class="list-icon">
            <ion-icon name="navigate-outline"></ion-icon>
          </div>
          <div>
            <h5>{{contactDetails?.company_name}}</h5>
            <ion-label>{{contactDetails?.company_address}}</ion-label>
          </div>
        </ion-item>
      </ion-list>
      <h4>Follow Us</h4>
      <div class="follow-us-content">
        <a *ngIf="contactDetails?.facebook" (click)="gotoPage(contactDetails?.facebook)" tager><ion-img src="./assets/img/follow-us/1.svg"></ion-img></a>
        <a *ngIf="contactDetails?.google" (click)="gotoPage(contactDetails?.google)"><ion-img src="./assets/img/follow-us/2.svg"></ion-img></a>
        <a *ngIf="contactDetails?.twitter" (click)="gotoPage(contactDetails?.twitter)"><ion-img src="./assets/img/follow-us/3.svg"></ion-img></a>
        <a *ngIf="contactDetails?.instagram" (click)="gotoPage(contactDetails?.instagram)"><ion-img src="./assets/img/follow-us/4.svg"></ion-img></a>
        <a *ngIf="contactDetails?.linkedin" (click)="gotoPage(contactDetails?.linkedin)"><ion-img src="./assets/img/follow-us/5.svg"></ion-img></a>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="contact-card">
    <ion-card-content class="contact-card-content">
      <h4>Get in touch with us</h4>
      <form [formGroup]="validationForm">
        <div class="mb-4">
          <ion-input aria-label="First Name" label="First Name" class="form-field" formControlName="first_name" fill="outline" labelPlacement="floating"></ion-input>
          <ng-container *ngFor="let validation of validation_messages.first_name">
            <ion-label color="danger" *ngIf="validationForm.get('first_name').hasError(validation.type) &&(validationForm.get('first_name').dirty ||validationForm.get('first_name').touched)">{{ validation.message }}</ion-label>
          </ng-container>
        </div>
        <div class="mb-4">
          <ion-input aria-label="Last Name" formControlName="last_name" label="Last Name" class="form-field" fill="outline" labelPlacement="floating"></ion-input>
          <ng-container *ngFor="let validation of validation_messages.last_name">
            <ion-label color="danger" *ngIf="validationForm.get('last_name').hasError(validation.type) &&(validationForm.get('last_name').dirty ||validationForm.get('last_name').touched)">{{ validation.message }}</ion-label>
          </ng-container>
        </div>
        <div class="mb-4">
          <ion-input aria-label="Email" label="Email *" formControlName="email" fill="outline" class="form-field" labelPlacement="floating"></ion-input>
          <ng-container *ngFor="let validation of validation_messages.email">
            <ion-label color="danger" *ngIf="validationForm.get('email').hasError(validation.type) &&(validationForm.get('email').dirty ||validationForm.get('email').touched)">{{ validation.message }}</ion-label>
          </ng-container>
        </div>
        <div class="mb-4">
          <ion-row class="ion-align-items mobile-number-field">
            <ion-col size="3" class="ion-no-padding padding-right">
              <ion-select fill="outline" class="mobile-code-field" formControlName="phone_code">
                <ng-container *ngFor="let code of mobileCountryCode">
                  <ion-select-option [value]="code?.code">{{code?.code}} ({{code?.name}})</ion-select-option>
                </ng-container>
              </ion-select>
            </ion-col>
            <ion-col size="9" class="ion-no-padding">
              <ion-input aria-label="Mobile Number" label="Mobile Number" formControlName="phone_number" class="form-field" fill="outline" labelPlacement="floating"></ion-input>
            </ion-col>
          </ion-row>
          <ng-container *ngFor="let validation of validation_messages.phone_number">
            <ion-label color="danger" *ngIf="validationForm.get('phone_number').hasError(validation.type) &&(validationForm.get('phone_number').dirty ||validationForm.get('phone_number').touched)">{{ validation.message }}</ion-label>
          </ng-container>
        </div>
        <ion-textarea aria-label="Feedback" label="Feedback *" placeholder="Write your feedback here..." formControlName="message" class="form-field" fill="outline" labelPlacement="floating"></ion-textarea>
        <ng-container *ngFor="let validation of validation_messages.message">
          <ion-label color="danger" *ngIf="validationForm.get('message').hasError(validation.type) &&(validationForm.get('message').dirty ||validationForm.get('message').touched)">{{ validation.message }}</ion-label>
        </ng-container>
        <ion-grid class="ion-text-center">
          <ion-button class="main-btn" [disabled]="!this.validationForm.valid" (click)="submit()">Submit</ion-button>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
