<ion-card class="news-list-box">
  <ion-row class="ion-align-items-center">
    <ion-col size="8">
      <ion-grid class="news-list-content">
        <ion-badge class="news-tag">Lifestyle</ion-badge>
        <h4>Microsoft announces a five-year commitment</h4>
      </ion-grid>
      <ion-grid class="news-action-btn">
        <ion-row>
          <ion-col size="8" class="ion-no-padding">
            <ion-row>
              <app-like-btn></app-like-btn>
              <app-comment-btn></app-comment-btn>
            </ion-row>
          </ion-col>
          <ion-col size="4" class="ion-text-end ion-no-padding">
            <app-save-btn></app-save-btn>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col size="4">
      <ion-grid class="news-list-img">
        <ion-img class="news-thumbs-img"
          src="./assets/img/news-list-img.png"
          alt=""
        ></ion-img>
        <ion-img class="news-type-tag"
          src="./assets/img/video-icon.svg"
          alt=""
        ></ion-img>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-card>