.bookmark-list ion-segment-button{
    text-transform: capitalize;
    --padding-start:0px;
    --padding-end:0px;
    font-size: 13px;
    ion-label{
        margin: 0;
        display: flex;
        align-items: center;
        ion-icon{
            font-size: 18px;
            margin-right: 5px;
        }
        span{
            border: 1px solid #E2E2E2;
            padding: 0px 6px;
            border-radius: 25px;
            font-size: 12px;
            margin-left: 5px;
        }
    }
    &.segment-button-checked{
        color: #3f3f97;
        --color-checked:#3f3f97;
    }
}

.skeleton-card{
    border: 1px solid #EBEBEB;
    background-color: #fff;
    box-shadow: none;
    padding: 0;
    border-radius: 10px;
    .news-box-img-skel{
        height: 180px;
    }
    .news-box-avatar-skel{
        width: 30px;
        height:30px;
        border-radius: 100%;
    }
    .news-author-name-skel{
        height: 20px;
    }
    .news-title-skel{
        height: 24px;
    }
    .news-sub-title-skel{
        height: 18px;
    }
    .news-button-skel{
        height: 30px;
        border-radius: 25px;
    }
    .skel-list-thumb-img{
        height: 140px;
        border-radius: 6px;
    }
    .skel-bandage{
        height:30px;
        border-radius: 25px;
    }
}

.tab-butoton-skel{
    height:24px
}

.suthor-details-skel{
    height: 130px;
}

ion-segment{
    background-color: #fff;
}
