<ion-header [translucent]="true" class="inner-page-header">
  <ion-toolbar>
    <ion-title>Stories</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">stories</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let story of stories">
        <ion-col size="6">
          <app-stories-box [story]="story"></app-stories-box>
        </ion-col>
      </ng-container>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="getMoreList($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
