<ion-header [translucent]="true" class="inner-page-header">
  <ion-toolbar>
    <ion-button slot="end" class="btn" (click)="closeModal()"><ion-icon name="close"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">shorts-details</ion-title>
    </ion-toolbar>
  </ion-header>
  <swiper-container class="trending-carousel" direction="vertical" space-between="30" mousewheel="true">
    <swiper-slide>
      <ion-grid class="short-details">
        <ion-img class="news-img"
          src="./assets/img/stories.png"
          alt=""
        ></ion-img>
        <ion-grid class="short-action-btn">
          <ion-label> <ion-avatar><img src="./assets/img/avatar.png" alt=""></ion-avatar></ion-label>
          <ion-label><ion-icon name="eye-outline"></ion-icon> 0</ion-label>
          <ion-label (click)="storyLike()"><ion-icon color="danger" name="heart"></ion-icon> 0</ion-label>
          <ion-label (click)="shareStory()"><ion-icon name="share-social-outline"></ion-icon>  0</ion-label>
          <ion-label (click)="shareStory()"><ion-icon name="chatbubbles-outline"></ion-icon>  0</ion-label>
        </ion-grid>
        <ion-grid class="comment-area">
          <ion-buttons class="comment-box">Write your comment..</ion-buttons>
        </ion-grid>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid class="short-details">
        <ion-img class="news-img"
          src="./assets/img/map-img.png"
          alt=""
        ></ion-img>
        <ion-grid class="short-action-btn">
          <ion-label> <ion-avatar><img src="./assets/img/avatar.png" alt=""></ion-avatar></ion-label>
          <ion-label><ion-icon name="eye-outline"></ion-icon> 0</ion-label>
          <ion-label (click)="storyLike()"><ion-icon color="danger" name="heart"></ion-icon> 0</ion-label>
          <ion-label (click)="shareStory()"><ion-icon name="share-social-outline"></ion-icon>  0</ion-label>
          <ion-label (click)="shareStory()"><ion-icon name="chatbubbles-outline"></ion-icon>  0</ion-label>
        </ion-grid>
        <ion-grid class="comment-area">
          <ion-buttons class="comment-box">Write your comment..</ion-buttons>
        </ion-grid>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid class="short-details">
        <ion-img class="news-img"
          src="./assets/img/stories.png"
          alt=""
        ></ion-img>
        <ion-grid class="short-action-btn">
          <ion-label> <ion-avatar><img src="./assets/img/avatar.png" alt=""></ion-avatar></ion-label>
          <ion-label><ion-icon name="eye-outline"></ion-icon> 0</ion-label>
          <ion-label (click)="storyLike()"><ion-icon color="danger" name="heart"></ion-icon> 0</ion-label>
          <ion-label (click)="shareStory()"><ion-icon name="share-social-outline"></ion-icon>  0</ion-label>
          <ion-label (click)="shareStory()"><ion-icon name="chatbubbles-outline"></ion-icon>  0</ion-label>
        </ion-grid>
        <ion-grid class="comment-area">
          <ion-buttons class="comment-box">Write your comment..</ion-buttons>
        </ion-grid>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid class="short-details">
        <ion-img class="news-img"
          src="./assets/img/stories.png"
          alt=""
        ></ion-img>
        <ion-grid class="short-action-btn">
          <ion-avatar><img src="./assets/img/avatar.png" alt=""></ion-avatar>
          <ion-label><ion-icon name="eye-outline"></ion-icon> 0</ion-label>
          <ion-label (click)="storyLike()"><ion-icon color="danger" name="heart"></ion-icon> 0</ion-label>
          <ion-label (click)="shareStory()"><ion-icon name="share-social-outline"></ion-icon>  0</ion-label>
          <ion-label (click)="shareStory()"><ion-icon name="chatbubbles-outline"></ion-icon>  0</ion-label>
        </ion-grid>
        <ion-grid class="comment-area">
          <ion-buttons class="comment-box">Write your comment..</ion-buttons>
        </ion-grid>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid class="short-details">
        <ion-img class="news-img"
          src="./assets/img/stories.png"
          alt=""
        ></ion-img>
        <ion-grid class="short-action-btn">
          <ion-label> <ion-avatar><img src="./assets/img/avatar.png" alt=""></ion-avatar></ion-label>
          <ion-label><ion-icon name="eye-outline"></ion-icon> 0</ion-label>
          <ion-label (click)="storyLike()"><ion-icon color="danger" name="heart"></ion-icon> 0</ion-label>
          <ion-label (click)="shareStory()"><ion-icon name="share-social-outline"></ion-icon>  0</ion-label>
          <ion-label (click)="shareStory()"><ion-icon name="chatbubbles-outline"></ion-icon>  0</ion-label>
        </ion-grid>
        <ion-grid class="comment-area">
          <ion-buttons class="comment-box">Write your comment..</ion-buttons>
        </ion-grid>
      </ion-grid>
    </swiper-slide>
  </swiper-container>
</ion-content>
