<ion-header [translucent]="true" class="inner-page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="shortList && shortList?.length > 0">
    <swiper-container class="mySwiper" direction="vertical" mousewheel="true" (slidechange)="checkSlide($event)">
      <swiper-slide *ngFor="let short of shortList; let i = index">
        <app-short-details [short]="short" [baseUrl]="baseUrl" [index]="i"></app-short-details>
      </swiper-slide>
    </swiper-container>
  </ng-container>
 
</ion-content>
