<ion-header [translucent]="true" class="inner-page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">shorts-details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="shortList && shortList?.length > 0">
    <swiper-container class="mySwiper" direction="vertical" mousewheel="true">
      <ng-container *ngFor="let short of shortList">
        <swiper-slide *ngIf="short?.id == id" (slidechange)="onSlideChange(short?.id)">
          <app-short-details [short]="short" [baseUrl]="baseUrl"></app-short-details>
        </swiper-slide>
      </ng-container>
      <ng-container *ngFor="let short of shortList">
        <swiper-slide *ngIf="short?.id != id" (slidechange)="onSlideChange(short?.id)">
          <app-short-details [short]="short" [baseUrl]="baseUrl"></app-short-details>
        </swiper-slide>
      </ng-container>
    </swiper-container>
  </ng-container>
 
</ion-content>
