<ion-header [translucent]="true" class="inner-page-header">
  <ion-toolbar>
    <ion-title>Privacy Policy</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">privacy-policy</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="about-card" *ngIf="pageContent">
    <ion-card-content class="about-card-content">
      <div [innerHtml]="pageContent.description"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
