<ion-card class="trend-topic-card">
  <ion-grid class="trending-top-img">
    <ion-img class="trending-img"
        src="./assets/img/trend-topic-img.png"
        alt=""
      ></ion-img>
    <ion-badge class="trending-tag">#1</ion-badge>
  </ion-grid>
  <ion-grid class="trend-top-content ion-no-padding">
    <ion-row class="ion-align-items-center">
      <span class="dot"></span>
      <div>
        <h4>Sports</h4>
        <p>12 Articles</p>
      </div>
    </ion-row>
  </ion-grid>
</ion-card>