<ion-card class="trend-topic-card" (click)="gotoPage(category?.category_id)">
  <ion-grid class="trending-top-img">
    <img class="trending-img" [src]="category?.base_url + category?.category_image" alt="" />
    <ion-badge class="trending-tag" *ngIf="index < 3">#{{index+1}}</ion-badge>
  </ion-grid>
  <ion-grid class="trend-top-content ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <span class="dot"></span>
      </ion-col>
      <ion-col size="10">
        <div>
          <h4>{{category?.category}}</h4>
          <p>{{category?.news.total}} Article</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>