<ion-header [translucent]="true" class="inner-page-header">
  <ion-toolbar>
    <ion-title>Polls</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">polls</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngFor="let poll of pollList">
    <app-polls-box [poll]="poll"></app-polls-box>
  </ng-container>
</ion-content>
