/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0px 0px 20px 0px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0px 0px 15px 0px;
}

a{
    text-decoration: none;
    color: #334155;
}

ion-content{
    --background:#F8F8F8;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0;
}

::ng-deep .swiper-pagination-bullet{
    width: 20px;
}

.inner-page-header ion-toolbar{
    --background:#3f3f97;
    color: #fff;
}

.inner-page-header ion-title{
    font-size: 16px;
    padding-left: 0px;
    font-weight: 400;
}

.main-btn{
    margin-top: 10px;
    --background: #3F3F97;
    --box-shadow: none;
    --padding-start:20px;
    --padding-end:20px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight:400 ;
}

// .mobile-code-field{
//     width: 60px;
// }

.form-field{
    --border-width:0;
    --background: #F3F4F8;
    --border-radius:4px;
}

.mobile-number-field{
    .padding-right{
        padding-right:5px;
    }
    .mobile-code-field{
        --background: #F3F4F8;
        --border-width:0;
        --border-radius:4px;
    }
}

.bottom-modal{
    --border-radius: 10px 10px 0px 0px;
}

.ion-divider{
    text-align: center;
    position: relative;
}

.ion-divider hr{
    margin:25px 0px;
    border: 0;
    border-top: 1px solid #BDBEC5;
}

.ion-divider span{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 0px 5px;
    color: #0A1026;
}

.header-padding-top{
    --padding-top: 79px;
}

.author-avatar-img{
    width: 30px;
    height: 30px;
}

.no-data-found{
    min-height: calc(100vh - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
    h4{
        font-weight: 800;
        font-size: 24px;
        color: #ccc;
    }
}

.section-header{
    padding: 0px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
        font-size: 16px;
        font-weight: 600;
        color: #111827;
        padding-bottom: 5px;
        position: relative;
        margin-bottom: 0;
        &::before{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 36px;
            content: '';
            height: 2px;
            background-color: #FF6501;
        }
    }
}