.entertainment-box{
    box-shadow: none;
    padding: 0;
    border-radius: 10px;
    margin: 1px 0px;
    position: relative;
    background-color: transparent;
}

.stories-box::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #00000021;
}


.news-tag{
    padding: 6px 15px;
    position: absolute;
    top: 5px;
    left: 5px;
    --background: #D0D2FB;
    font-size: 12px;
    font-weight: 400;
    border-radius: 20px;
    color: #3F3F97;
}

.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-btn ion-img{
    width: 30px;
}

.news-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center center;
}

.entertainment-box-content{
    padding: 6px;
}

.entertainment-box-content h4{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
}

.text-h4{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    display: block;
}

.text-h6{
    font-size: 11px;
    color: #fff;
}

.entertainment-img{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}

.save-btn{
    position: absolute;
    top: 5px;
    right: 5px;
}

.entertainment-box-content ion-img{
    width: 30px;
}